<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1> Cupcakes </h1>
    <ul id="cupcake-list">

    </ul>
    <form id="cupcake-form">
        <div>
            <label for="form-flavor"> Flavor </label>
            <input type="text" name="flavor-input" id="flavor"> 
        </div>
        <div>
            <label for="form-size"> Size </label>
            <input type="text" name="size-input" id="size"> 
        </div>
        <div>
            <label for="form-rating"> Rating </label>
            <input type="number" name="flavor-input" id="rating"> 
        </div>
        <div>
            <label for="form-image"> Image </label>
            <input type="text" name="image-input" id="image"> 
        </div>
        <button> Submit </button>
    </form>
    
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/cupcake.js"></script>
</body>

</html>